config SHIELD_AZUREFANG
    def_bool $(shields_list_contains, azurefang)

# Turn on logging, and set ZMK logging to debug output
CONFIG_ZMK_USB_LOGGING=y
CONFIG_ZMK_KSCAN_DIRECT_POLLING=y
CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y